<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <style>
      html, body {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }
      body {
        background-color: #F6F6F6;
        font-family: 'Ubuntu', sans-serif;
      }
      .navbar {
        background-color: #F6F6F6;
        color: #030606 !important;
      }
      .card-container {
          display: flex;
          overflow-x: auto;
          padding: 20px;
          gap: 20px; /* Spacing between cards */
      }
      .card {
    flex: 0 0 90%; /* Don't grow, shrink based on the width, starting at 90% of its container */
    width: 90%;
    min-width: 300px; /* Adjust this value based on your design needs */
    max-width: 18rem;
}
      .card img {
          width: 100%;
      }
      .cta-btn, .btn-dark {
          border-radius: 40px;
          background: linear-gradient(to right, #f1546e, #f7a147);
          color: #030606;
          padding: 15px;
          width: 150px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          font-weight: bold;
      }
  </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <h2 style="color: #F6F6F6; font-weight: 500;">Mwanga.</h2>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="/logout">Log-out</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Cart</a></li>
        </ul>
      </div>
    </nav>

    <div class="container mt-3">
        <h3 class="mb-4">Your home of Renewable energy.</h3>
        <div class="card-container">
          <!-- Package 1 -->
          <form action="/order1" method="post">
              <div class="card">
                <img class="card-img-top" src="static/imageC.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><b>Rizzen</b></h5>
                  <p class="card-text">200W power station</p>
                  <button class="btn price-btn" style="background-color: #F7E4BD; color: ; border-radius: 10px;" disabled>60W laptop <b>3.3 hours</b></button>
                  <br>
                  <br>
                  <button class="btn price-btn" style="background-color: #F7E4BD; color: ; border-radius: 10px;" disabled>Comes with a <b>Solar Panel</b></button>
                  <br>
                  <br>
                    <!-- <button class="btn price-btn" style="border: 2px solid #000; color: #000; background-color: transparent; border-radius: 10px;" disabled><b>R 4500</b></button> -->
                  <button class="btn price-btn" style="background-color: #F7E4BD; color: ; border-radius: 10px;" disabled><b>R 4500</b></button>
                  <br>
                  <br>
                  <div style="display: flex; align-items: center;">
                    <!-- <button class="btn price-btn" style="background-color: #F7E4BD; color: ; border-radius: 30px;" disabled><b>R 4500</b></button> -->
                    <!-- <button class="btn price-btn" style="background-color: #F7E4BD; color: #000; border-radius: 30px;" disabled><b>R 4500</b></button> -->
                    <!-- <button class="btn price-btn" style="border: 2px solid #000; color: #000; background-color: transparent; border-radius: 10px;" disabled><b>R 4500</b></button> -->
    
                    <!-- <span style="margin-right: 5px;"></span> -->
                    <button type="submit" class="btn btn-primary purchase-btn" style="background: linear-gradient(259deg, #F1546E 0%, #F9BB39 100%); border-color: transparent; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); border-radius: 10px; color: black; font-family: Ubuntu; font-weight: 400; font-size: 16px;">Order package</button>
                    
                  </div>
                </div>

              </div>
          </form>
          <!-- Package 2 -->
<!-- Package 2 -->
<!-- Package 2 -->
<form action="/order2" method="post">
  <div class="card">
    <img class="card-img-top" src="static/imageA.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><b>Eco-Flow River</b></h5>
      <p class="card-text">300W power station</p>
      <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>60W laptop <b>5 hours</b></button>
      <br><br>
      <!-- <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>200W console <b>1.5 hours</b></button>
      <br><br> -->
      <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>Comes with a <b>Solar panel</b></button>
      <br><br>
      <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled><b>R 5500</b></button>
      <br><br>
      <button type="submit" class="btn btn-primary purchase-btn" style="background: linear-gradient(259deg, #F1546E 0%, #F9BB39 100%); border-color: transparent; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); border-radius: 10px; color: black; font-family: Ubuntu; font-weight: 400; font-size: 16px;">Order package</button>
    
    </div>
  </div>
</form>

          <!-- Package 3 -->
          <form action="/order3" method="post">
              <div class="card">
                <img class="card-img-top" src="static/imageB.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><b>Bluetti</b></h5>
                  <p class="card-text">600W power station</p>
                  <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>60W laptop <b>10 hours</b></button>
                  <br><br>
                  <!-- <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>200W console <b>1.5 hours</b></button>
                  <br><br> -->
                  <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled>Comes with a <b>Solar panel</b></button>
                  <br><br>
                  <button class="btn price-btn" style="background-color: #F7E4BD; border-radius: 10px;" disabled><b>R 1100</b></button>
                  <br><br>
                  <button type="submit" class="btn btn-primary purchase-btn" style="background: linear-gradient(259deg, #F1546E 0%, #F9BB39 100%); border-color: transparent; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); border-radius: 10px; color: black; font-family: Ubuntu; font-weight: 400; font-size: 16px;">Order package</button>
                
                </div>
              </div>
          </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
              const resizeOps = () => {
        document.documentElement.style.setProperty("--vh", window.innerHeight * 0.01 + "px");
      };

      resizeOps();
      window.addEventListener("resize", resizeOps);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
